<h2>Sign up</h2>
 <div class="container"> <!-- コンテナを削除 -->
  <%= form_with model: @user, url: user_registration_path do |f| %>
     <div class="form-group mb-0">
    <label for="last_name">名前</label>
    <div class="row">
      <div class="col">
        <%= f.text_field :last_name, class: "form-control", maxlength: 100, placeholder: "令和" %>
      </div>
      <div class="col">
        <%= f.text_field :first_name, class: "form-control", maxlength: 100, placeholder: "道子" %>
      </div>
    </div>
  </div>

  <div class="form-group mb-0">
    <label for="last_name_kana">フリガナ</label>
    <div class="row">
      <div class="col">
        <%= f.text_field :last_name_kana, class: "form-control", maxlength: 100, placeholder: "レイワ" %>
      </div>
      <div class="col">
        <%= f.text_field :first_name_kana, class: "form-control", maxlength: 100, placeholder: "ミチコ" %>
      </div>
    </div>
  </div>

  <div class="form-group mb-0">
    <label for="email">メールアドレス</label>
    <%= f.text_field :email, class: "form-control", maxlength: 254, placeholder: "aaaa@gmail.com" %>
  </div>

  <div class="form-group mb-0">
    <label for="password">パスワード</label>
    <%= f.password_field :password, class: "form-control", maxlength: 20, placeholder: "半角英数8文字以上" %>
  </div>

  <div class="form-group mb-0"">
    <label for="password_confirmation">パスワード(確認用)</label>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <% end %>
  <h5>既に登録済みの方は<br>
    <%= link_to "こちら", new_user_session_path %>
    からログインしてください。</h5>
</div>
