<h1>投稿一覧</h1>

<div class="post-container">
  <% @posts.each do |post| %>
    <div class="post">
      <%= image_tag post.image, width: 300, height: 300 %>
      <h2><%= post.caption %></h2>
      <% if post.location %>
        <p>場所: <%= post.location.place_name %></p>
        <p>説明: <%= post.location.description %></p>
      <% else %>
        <p>場所情報がありません</p>
      <% end %>
    </div>

    <div>
        <%= render 'user/replies/form', post: post %>
    </div>
    <div>
      <%= link_to "詳細を表示", show_detail_post_path(post.user, post), class: "btn btn-primary" %>
      <%= render 'user/likes/btn', post: post %>
    </div>
  <% end %>
</div>
