   <div class="container">
  <h1 class="text-center mt-4">List of posts</h1>
  <div class="text-center mt-3">
    <button id="show-following-posts" class="btn btn-primary mr-3">Posts from users you follow</button>
    <button id="show-all-posts" class="btn btn-primary">All posts</button>
  </div>

  <div id="following-posts" class="post-container">
    <!-- フォロー中のユーザーの投稿を表示するコンテンツ -->
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <%= image_tag post.image, class: "img-fluid", style: "max-width: 100%;" %>
              <h2><%= post.caption %></h2>
              <% if post.location %>
                <p>投稿者: <%= post.user.last_name %> <%= post.user.first_name %></p>
                <p>場所: <%= post.location.place_name %></p>
                <p>説明: <%= post.location.description %></p>
              <% else %>
                <p>場所情報がありません</p>
              <% end %>
              <p>いいねの数: <span class="like-count"><%= @like_counts[post.id] %></span></p>
              <p>コメントの数: <span class="comment-count"><%= @comment_counts[post.id] %></span></p>
              <%= link_to "詳細を表示", show_detail_post_path(post), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="all-posts" class="post-container" style="display: none;">
    <!-- 全ての投稿を表示するコンテンツ -->
    <div class="row">
      <% @all_posts.each do |post| %>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <%= image_tag post.image, class: "img-fluid", style: "max-width: 100%; max-height: 200px;" %>
              <h2><%= post.caption %></h2>
              <% if post.location %>
                <p>場所: <%= post.location.place_name %></p>
                <p>説明: <%= post.location.description %></p>
              <% else %>
                <p>場所情報がありません</p>
              <% end %>
              <p>いいねの数: <span class="like-count"><%= @like_counts[post.id] %></span></p>
              <p>コメントの数: <span class="comment-count"><%= @comment_counts[post.id] %></span></p>
              <%= link_to "詳細を表示", show_detail_post_path(post), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


  <script>
  document.getElementById('show-following-posts').addEventListener('click', function() {
    document.getElementById('following-posts').style.display = 'block';
    document.getElementById('all-posts').style.display = 'none';
  });

  document.getElementById('show-all-posts').addEventListener('click', function() {
    document.getElementById('following-posts').style.display = 'none';
    document.getElementById('all-posts').style.display = 'block';
  });
</script>
<script>
    // いいねの数を取得
    var likeCounts = document.querySelectorAll('.like-count');

    // 各いいねの数を処理
    likeCounts.forEach(function(likeCount) {
      // ここで各いいねの数にアクセスできる
      console.log(likeCount.textContent);
    });
  </script>
