<% @posts.each do |post| %>
  <div class="post">
    <%= image_tag post.image, width: 300, height: 300 %>
    <h2><%= post.caption %></h2>
    <% if post.location %>
      <p>場所: <%= post.location.place_name %></p>
      <p>説明: <%= post.location.description %></p>
    <% else %>
      <p>場所情報がありません</p>
    <% end %>
  </div>
<% end %>

<% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
