<!DOCTYPE html>
<html>
  <head>
    <title>LocaPic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/b11c46ab0d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <header class="header-img shadow-sm" style="background-size: cover;">
  　　<nav class="navbar navbar-expand-md navbar-light" style="padding: 0px; 1rem;">
  　 　 <a class="navbar-brand" href="/" style="background-size: cover; width: 120px; height: 40px;">
       </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if admin_signed_in? %>
              <li class="ml-auto nav-item">
                <%= link_to admin_users_path do %>
                  <i class="fas fa-users">Member list</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_posts_path do %>
                  <i class="fa-solid fa-list">List of posts</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt mr-2">Log out</i>
                <% end %>
              </li>


            <% elsif user_signed_in? %>
              <li class="ml-auto nav-item">
                <%= link_to users_mypage_path do %>
                  <i class="fa-solid fa-image-portrait">My page</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_post_path do %>
                <i class="fa-solid fa-plus">New post</i>
                <% end %>
              </li>
               <li class="nav-item">
                <%= link_to locations_path do %>
                <i class="fa-solid fa-map-pin">MAP</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path do %>
                <i class="fa-solid fa-list">List of posts</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket mr-3">Log out</i>
                <% end %>
              </li>

              <%= render 'user/searches/search' %>


          <% else %>
            <li class="nav-item">
              <%= link_to about_path do %>
                <i class="fa-solid fa-eject">about</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_registration_path do %>
              <i class="fa-solid fa-right-to-bracket">Sign up</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-arrow-right-to-bracket">Log in</i>
              <% end %>
            </li>

          <% end %>

      </ul>
    </div>
  </nav>
    </header>

      <div>
        <% flash.each do |key, value| %>
          <p class="alert alert-<%= key %>">
            <%= sanitize value, tags: %w(br) %>
          </p>
        <% end %>
      </div>

    <main>
        <%= yield %>
    </main>
     <footer class="shadow-sm" style="background-size: cover;">
      <h3>LocaPic</h3>
     </footer>
  </body>
</html>
